<h1><b>Multiple Choice Test</b></h1>

<% MathQuiz.order(:id).each do |q| %>
  <h2><%= q.number %></h2>
  <h4><%= q.problem %></h4>
    <ul>
      <li><%= q.solution1 %></li>
      <li><%= q.solution2 %></li>
      <li><%= q.solution3 %></li>
      <li><%= q.solution4 %></li>
    </ul>
<% end %>