<h1>Apartments</h1>

<table border="1">
	<tr>
		<th>ID</th>
		<th>Address</th>
		<th>Rent per Month</th>
		<th>Number of Bedrooms</th>
		<th>Pets Permitted?</th>
		<th>Link to craigslist.com</th>
	</tr>
	<% Apartment.order(:id).each do |apartment| %>
	  <tr>
	  	<td><%= apartment.id %></td>
	    <td><%= apartment.address %></td>
		<td><%= apartment.rent_per_month %></td>
		<td><%= apartment.num_bedrooms %></td>
		<td><%= apartment.does_allow_pets %></td>
		<td><%= link_to "Go to ad on Craigslist", apartment.url %></td>
	  </tr>
	<% end %>
</table>